{{#each this}}
<li class="card" id="{{id}}">
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" class="card-img" alt="{{title}}" id="{{id}}">
    
    <div class="film">
        <h1 class="film-title" id="{{id}}">{{title}}</h1>
        {{#each genre_ids}}
        <p class="film-genre" id="{{id}}"> {{this}} </p> 
        {{/each}}
        <p class="film-release" id="{{id}}">{{release_date}}</p>
        <p class="film-average category-accent" id="{{id}}">{{vote_average}}</p>
    </div>
</li>
{{/each}}