{{#each this}}
<li class="card" id="{{id}}">
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" class="card-img" alt="{{title}}">
    
    <div class="film">
        <h1 class="film-title">{{title}}</h1>
        {{#each genres}}
        <p class="film-name">{{name}}</p>
        {{/each}}
        <p class="film-release">{{release_date}}</p>
        <p class="film-average category-accent">{{vote_average}}</p>
    </div>
</li>
{{/each}}