{{#each this}}
<li class="card" id="{{id}}">
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" class="card-img" alt="{{title}}" id="{{id}}">
    
    <div class="film">
        <h1 class="film-title" id="{{id}}">{{title}}</h1>
        <div class="desc-wraper">
            <p class="film-genre" id="{{id}}">{{#each genre_ids}}{{this}}{{/each}}</p>   
            <p class="film-line">|</p>
            <p class="film-release" id="{{id}}"> {{release_date}}</p>
            <p class="film-average category-accent" id="{{id}}">{{vote_average}}</p>
        </div>
    </div>
</li>
{{/each}}