<div class="modal" id="{{id}}">

    <div class="modal-img-wrap">
        <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" class="card-img" alt="{{title}}">
    </div>

    <div class="modal-details-wrap">
        <h1 class="modal-title">{{title}}</h1>
        <ul class="details-list">
            <li class="details-item">
                <span class="details-category">Vote / Votes</span>
                <span class="category-accent">{{vote_average}}</span> {{vote_count}}
            </li>
            <li class="details-item">
                <span class="details-category">Popularity</span> {{popularity}}
            </li>
            <li class="details-item">
                <span class="details-category">Original Title</span> {{original_title}}
            </li>
            <li class="details-item">
                <span class="details-category">Genre</span> {{#each genres}} {{name}} {{/each}}
            </li>
        </ul>

        <h2 class="modal-film-about">About</h2>
        <p class="modal-overview-about">{{overview}}</p>
    </div>
</div>