<div class='modal' id="{{id}}">
  <button type='button' class='modal-close-btn' data-modal-close>
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="close">
          <path id="Vector 1" d="M8 8L22 22" stroke="black" stroke-width="2"/>
          <path id="Vector 2" d="M8 22L22 8" stroke="black" stroke-width="2"/>
          </g>
      </svg>
  </button>

  <div class='modal-img-wrap'>
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" class='modal-card-img' alt="{{title}}" />
  </div>

  <div class='modal-details-wrap'>
    <h1 class='modal-title'>
      {{title}}
    </h1>
    <ul class='modal-details-list'>
      <li class='modal-details-item item-vote'>
        <span class='modal-details-category'>
          Vote / Votes
        </span>
        <span class='modal-category-accent'>
          {{vote_average}}
        </span>
        /
        <span class='details-category-value modal-category-accent'>
          {{vote_count}}
        </span>
      </li>
      <li class='modal-details-item'>
        <span class='modal-details-category'>
          Popularity
        </span>
        <span class='details-category-value'>
          {{popularity}}
        </span>
      </li>
      <li class='modal-details-item'>
        <span class='modal-details-category'>
          Original Title
        </span>
        <span class='details-category-value'>
          {{original_title}}
        </span>
      </li>
      <li class='modal-details-item'>
        <span class='modal-details-category'>
          Genre
        </span>

        <span class='details-category-value'>
          {{#each genres}}
            {{name}}
          {{/each}}
        </span>
      </li>
    </ul>

    <h2 class='modal-film-about'>
      About
    </h2>
    <p class='modal-overview-about'>
      {{overview}}
    </p>

    <div class="modal-btn-wrapper">
          <button class="btn-main modal-btn">add to Watched</button>
        <button class="btn-main modal-btn">add to queue</button>
    </div>
  </div>
</div>