{{#each this}}
<li class="member">
    <a class="member-link" href="{{git}}" target="_blank"><img class="team-image" src="{{photo}}" alt="{{name}}"></a>
    <div class="member-info">
        <p class="teammate">{{name}}</p>
        <p class="team-role">{{role}}</p>
        <p class="team-words">{{words}}</p>
    </div>
</li>
{{/each}}